/* line 4, ../_scss/common.scss */
#fixedHeader {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  color: #4b5421;
  padding: .5em 1em;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
/* line 12, ../_scss/common.scss */
#fixedHeader a {
  color: #4b5421;
}
/* line 15, ../_scss/common.scss */
#fixedHeader .brand {
  height: 2em;
}
/* line 20, ../_scss/common.scss */
#fixedHeader ul.desktopMenu {
  display: inline-block;
}
/* line 22, ../_scss/common.scss */
#fixedHeader ul.desktopMenu li {
  display: inline-block;
  padding-right: 2em;
}
/* line 27, ../_scss/common.scss */
#fixedHeader .mobileMenu {
  margin-top: 1em;
}
/* line 29, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea {
  display: none;
}
/* line 31, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea ul {
  list-style: none;
  padding: 0;
}
/* line 34, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea ul li {
  padding: .5em;
  border-bottom: 1px solid #93a541;
}
/* line 39, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea p {
  text-align: center;
}
/* line 43, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea.active {
  display: block;
}

/* line 51, ../_scss/common.scss */
#heroUnit {
  background-image: url("/assets/img/background.png");
  color: #4b5421;
  padding: 6em;
}
/* line 55, ../_scss/common.scss */
#heroUnit img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 60, ../_scss/common.scss */
#heroUnit h1 {
  text-align: center;
}
/* line 63, ../_scss/common.scss */
#heroUnit p {
  text-align: center;
}

/* line 68, ../_scss/common.scss */
#gotoStore {
  background: #eee;
  padding: 1.5em;
}
/* line 71, ../_scss/common.scss */
#gotoStore p {
  text-align: center;
}

/* line 76, ../_scss/common.scss */
.post-template {
  margin-top: 6em;
}
