/* line 1, ../_scss/common/_header.scss */
#fixedHeader {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  color: #4b5421;
  padding: .5em 1em;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
/* line 9, ../_scss/common/_header.scss */
#fixedHeader a {
  color: #4b5421;
}
/* line 12, ../_scss/common/_header.scss */
#fixedHeader .brand {
  height: 2em;
}
/* line 17, ../_scss/common/_header.scss */
#fixedHeader ul.desktopMenu {
  display: inline-block;
}
/* line 19, ../_scss/common/_header.scss */
#fixedHeader ul.desktopMenu li {
  display: inline-block;
  padding-right: 2em;
}
/* line 24, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu {
  margin-top: 1em;
}
/* line 26, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu .foldingArea {
  display: none;
}
/* line 28, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu .foldingArea ul {
  list-style: none;
  padding: 0;
}
/* line 31, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu .foldingArea ul li {
  padding: .5em;
  border-bottom: 1px solid #93a541;
}
/* line 36, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu .foldingArea p {
  text-align: center;
}
/* line 40, ../_scss/common/_header.scss */
#fixedHeader .mobileMenu .foldingArea.active {
  display: block;
}

/* line 2, ../_scss/common/_post.scss */
.post section.post-content {
  margin: 3em 0em;
}

/* line 1, ../_scss/top/_peridot_release.scss */
#heroUnit {
  background-image: url("/assets/img/background.png");
  color: #4b5421;
  padding: 6em;
}
/* line 5, ../_scss/top/_peridot_release.scss */
#heroUnit img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, ../_scss/top/_peridot_release.scss */
#heroUnit h1 {
  text-align: center;
}
/* line 13, ../_scss/top/_peridot_release.scss */
#heroUnit p {
  text-align: center;
}

/* line 19, ../_scss/top/_peridot_release.scss */
.gotoStore {
  background: #eee;
  padding: 1em 1.5em;
}
/* line 22, ../_scss/top/_peridot_release.scss */
.gotoStore p {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}
/* line 27, ../_scss/top/_peridot_release.scss */
.gotoStore p a {
  color: #aaa;
}
/* line 30, ../_scss/top/_peridot_release.scss */
.gotoStore p a:hover {
  text-decoration: none;
}

/* line 37, ../_scss/top/_peridot_release.scss */
.note .note-image {
  margin-top: 4em;
}

/* line 9, ../_scss/common.scss */
.post-template {
  margin-top: 6em;
}
